In [131]:
import requests
import json
import pandas as pd
from pandas import json_normalize

In [134]:
def extract(skip_val):
    url = "https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v2"
    query = """query swaps{
      swaps(first: 1000,skip:"""+str(skip_val)+""",orderBy: timestamp, orderDirection: desc, where:{pair: "0xd3d2e2692501a5c9ca623199d38826e513033a17"}) {
        timestamp
        amount0In
        amount1In
        amount0Out
        amount1Out
        pair {
          token0 {
            symbol
            totalLiquidity
          }
          token1 {
            symbol
            totalLiquidity
          }

        }
        amountUSD

      }
    }

    """
    read = requests.post(url, json={'query':query})
    json_data = json.loads(read.text)
    json_data = json_data['data']
    json_data = json_data['swaps']
    df = json_normalize(json_data)
    return df

In [142]:
df = extract(0)

In [146]:
df = extract(0)
for i in range(1000,5000,1000):
    df = df.append(extract(i))

In [147]:
df

,amount0In,amount0Out,amount1In,amount1Out,amountUSD,timestamp,pair.token0.symbol,pair.token0.totalLiquidity,pair.token1.symbol,pair.token1.totalLiquidity
0,34.681017932929552135,0,0,0.301606975453359669,573.9004381447799407651144192372578,1624385182,UNI,2354053.311073899958548148,WETH,744206.306746287855084192
1,0,70.2,0.614171454267647886,0,1172.633461399166894512000332840006,1624385098,UNI,2354053.311073899958548148,WETH,744206.306746287855084192
2,2.83458842,0,0,0.024650187046922869,47.06443772356338564978201395326477,1624385090,UNI,2354053.311073899958548148,WETH,744206.306746287855084192
3,101.131602080728787541,0,0,0.879525546389686227,1680.79150834623989444877763584951,1624384788,UNI,2354053.311073899958548148,WETH,744206.306746287855084192
4,31.761118917488870886,0,0,0.276205603071241948,527.8346195917153072398076195755514,1624384788,UNI,2354053.311073899958548148,WETH,744206.306746287855084192
...,...,...,...,...,...,...,...,...,...,...
995,627.362482618167617587,0,0,6.00961553087071157,15660.7669764036699208439433493095,1623278964,UNI,2354053.311073899958548148,WETH,744158.515216239639038981
996,0,365.005013996410781214,3.514618558632683553,0,9158.989898762249899683810863202926,1623278961,UNI,2354053.311073899958548148,WETH,744158.515216239639038981
997,0,663.27399841118495506,6.379281149766727824,0,16624.16389603921786040316196687814,1623278952,UNI,2354053.311073899958548148,WETH,744158.515216239639038981
998,0,839.842815849487935966,8.0826640448100096,0,21063.11489382441016987452358002052,1623278952,UNI,2354053.311073899958548148,WETH,744158.515216239639038981
999,0,548.908702161015085925,5.276609532619638542,0,13749.84885185325995484262900696843,1623278951,UNI,2354053.311073899958548148,WETH,744158.515216239639038981